.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
  text-align: center;
  line-height: 2;
  position: relative;
  background-image: url("/astro.png");
  background-repeat: no-repeat;
  animation: up 6s ease-in-out infinite alternate;
}

@keyframes up {
  0% {
    filter: grayscale(50%);
    background-position: 0 0;
  }
  50% {
    background-position: 0 -10px;
  }
  to {
    filter: grayscale(0);
    background-position: 0 0;
  }
}